<%= form_for(@vitalsign_history) do |f| %>
  <% if @vitalsign_history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vitalsign_history.errors.count, "error") %> prohibited this vitalsign_history from being saved:</h2>

      <ul>
      <% @vitalsign_history.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pet_id %><br>
    <%= f.text_field :pet_id %>
  </div>
  <div class="field">
    <%= f.label :record_date %><br>
    <%= f.datetime_select :record_date %>
  </div>
  <div class="field">
    <%= f.label :breathing_freq %><br>
    <%= f.number_field :breathing_freq %>
  </div>
  <div class="field">
    <%= f.label :heart_freq %><br>
    <%= f.number_field :heart_freq %>
  </div>
  <div class="field">
    <%= f.label :systolic %><br>
    <%= f.number_field :systolic %>
  </div>
  <div class="field">
    <%= f.label :diastolic %><br>
    <%= f.number_field :diastolic %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
