<p id="notice"><%= notice %></p>

<h1>Listing Vitalsign Histories</h1>

<table>
  <thead>
    <tr>
      <th>Pet</th>
      <th>Record date</th>
      <th>Breathing freq</th>
      <th>Heart freq</th>
      <th>Systolic</th>
      <th>Diastolic</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vitalsign_histories.each do |vitalsign_history| %>
      <tr>
        <td><%= vitalsign_history.pet %></td>
        <td><%= vitalsign_history.record_date %></td>
        <td><%= vitalsign_history.breathing_freq %></td>
        <td><%= vitalsign_history.heart_freq %></td>
        <td><%= vitalsign_history.systolic %></td>
        <td><%= vitalsign_history.diastolic %></td>
        <td><%= link_to 'Show', vitalsign_history %></td>
        <td><%= link_to 'Edit', edit_vitalsign_history_path(vitalsign_history) %></td>
        <td><%= link_to 'Destroy', vitalsign_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vitalsign history', new_vitalsign_history_path %>
