<p id="notice"><%= notice %></p>

<p>
  <strong>Pet:</strong>
  <%= @vitalsign_history.pet %>
</p>

<p>
  <strong>Record date:</strong>
  <%= @vitalsign_history.record_date %>
</p>

<p>
  <strong>Breathing freq:</strong>
  <%= @vitalsign_history.breathing_freq %>
</p>

<p>
  <strong>Heart freq:</strong>
  <%= @vitalsign_history.heart_freq %>
</p>

<p>
  <strong>Systolic:</strong>
  <%= @vitalsign_history.systolic %>
</p>

<p>
  <strong>Diastolic:</strong>
  <%= @vitalsign_history.diastolic %>
</p>

<%= link_to 'Edit', edit_vitalsign_history_path(@vitalsign_history) %> |
<%= link_to 'Back', vitalsign_histories_path %>
