<p id="notice"><%= notice %></p>

<h1>Listing Safe Zones</h1>

<table>
  <thead>
    <tr>
      <th>Pet</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Radium</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @safe_zones.each do |safe_zone| %>
      <tr>
        <td><%= safe_zone.pet %></td>
        <td><%= safe_zone.latitude %></td>
        <td><%= safe_zone.longitude %></td>
        <td><%= safe_zone.radium %></td>
        <td><%= link_to 'Show', safe_zone %></td>
        <td><%= link_to 'Edit', edit_safe_zone_path(safe_zone) %></td>
        <td><%= link_to 'Destroy', safe_zone, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Safe zone', new_safe_zone_path %>
