<p id="notice"><%= notice %></p>

<p>
  <strong>Pet:</strong>
  <%= @safe_zone.pet %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @safe_zone.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @safe_zone.longitude %>
</p>

<p>
  <strong>Radium:</strong>
  <%= @safe_zone.radium %>
</p>

<%= link_to 'Edit', edit_safe_zone_path(@safe_zone) %> |
<%= link_to 'Back', safe_zones_path %>
