<p id="notice"><%= notice %></p>

<p>
  <strong>Collar:</strong>
  <%= @record.collar %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @record.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @record.longitude %>
</p>

<p>
  <strong>Breathing freq:</strong>
  <%= @record.breathing_freq %>
</p>

<p>
  <strong>Heart freq:</strong>
  <%= @record.heart_freq %>
</p>

<p>
  <strong>Systolic:</strong>
  <%= @record.systolic %>
</p>

<p>
  <strong>Diastolic:</strong>
  <%= @record.diastolic %>
</p>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
