<%= form_for(@collar) do |f| %>
  <% if @collar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@collar.errors.count, "error") %> prohibited this collar from being saved:</h2>

      <ul>
      <% @collar.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pet_id %><br>
    <%= f.text_field :pet_id %>
  </div>
  <div class="field">
    <%= f.label :reference %><br>
    <%= f.text_field :reference %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
