<p id="notice"><%= notice %></p>

<p>
  <strong>Pet:</strong>
  <%= @collar.pet %>
</p>

<p>
  <strong>Reference:</strong>
  <%= @collar.reference %>
</p>

<p>
  <strong>Description:</strong>
  <%= @collar.description %>
</p>

<%= link_to 'Edit', edit_collar_path(@collar) %> |
<%= link_to 'Back', collars_path %>
